<label>Please, type the description of new link</label>
<br>
<br>
<label>Type the long URL:</label>
<div id = "input">
	{{input value="http://" id ="url"}}
</div>
	<br>
<label>Give some words for the URL's description</label>	
<div id = "input">
	{{input value="" id="description"}}
</div>
	<br>
<label>Tags for this link:</label>	
<div id = "input">
	{{input value="" id="tag1"}}
	{{input value="" id="tag2"}}
	{{input value="" id="tag3"}}
	{{input value="" id="tag4"}}
	{{input value="" id="tag5"}}
</div>
	<br>
	
	<button {{action "sendNewUrl"}}><strong>OK</strong></button>
	
	
	<br>
	
	
	
	
	
		
	
	

